body {
    background-image: url(../style/avantlink-ribbon.svg );
    height: 100vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
     background-attachment: fixed;
    font-family: Roboto;
}
